################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Boss_UPS_Training/v16/Server/sqlite3
